.custom_select {
    float: left;
    position: relative
}

.custom_select .select_current {
    display: block;
    white-space: nowrap
}

.custom_select .select_dropdown {
    visibility: hidden;
    position: absolute;
    min-width: 100%
}

.custom_select .option {
    display: block;
    white-space: nowrap
}

.custom_select.opened .select_dropdown {
    visibility: visible
}

.wrap {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
    margin-left: 50px;
    margin-top: 50px
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    cursor: pointer
}

.cube div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, .1);
    box-shadow: inset 0 0 30px rgba(125, 125, 125, .8);
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: rgba(0, 0, 0, .5);
    font-family: sans-serif;
    text-transform: uppercase;
    transition: all 1s
}

.top {
    font-size: 40px
}

.top span {
    position: absolute;
    transform: rotateZ(45deg) translateX(-13px) translateY(13px)
}

.cube {
    animation: floating 10s ease-out infinite normal
}

@keyframes floating {
    0% {
        transform: translateY(0) translateZ(-100px) rotateX(-25deg) rotateY(45deg)
    }
    50% {
        transform: translateY(6%) translateZ(-100px) rotateX(-25deg) rotateY(45deg)
    }
    100% {
        transform: translateY(0) translateZ(-100px) rotateX(-25deg) rotateY(45deg)
    }
}

.cube {
    transition: all 1s
}

.cube .right {
    animation: breathing_right 7s ease-out infinite normal
}

.cube .left {
    animation: breathing_left 7s ease-out infinite normal
}

.cube .top {
    animation: breathing_top 7s ease-out infinite normal
}

.cube:hover .right {
    animation: hard_breathing_right 3s ease-out infinite normal
}

.cube:hover .left {
    animation: hard_breathing_left 3s ease-out infinite normal
}

.cube:hover .top {
    animation: hard_breathing_top 3s ease-out infinite normal
}

@keyframes breathing_right {
    0% {
        transform: rotateY(0) translateZ(52px)
    }
    60% {
        transform: rotateY(0) translateZ(54px)
    }
    100% {
        transform: rotateY(0) translateZ(52px)
    }
}

@keyframes breathing_top {
    0% {
        transform: rotateX(90deg) translateZ(52px)
    }
    60% {
        transform: rotateX(90deg) translateZ(54px)
    }
    100% {
        transform: rotateX(90deg) translateZ(52px)
    }
}

@keyframes breathing_left {
    0% {
        transform: rotateY(-90deg) translateZ(52px)
    }
    60% {
        transform: rotateY(-90deg) translateZ(54px)
    }
    100% {
        transform: rotateY(-90deg) translateZ(52px)
    }
}

@keyframes hard_breathing_right {
    0% {
        transform: rotateY(0) translateZ(53px)
    }
    60% {
        transform: rotateY(0) translateZ(63px)
    }
    100% {
        transform: rotateY(0) translateZ(63px)
    }
}

@keyframes hard_breathing_top {
    0% {
        transform: rotateX(90deg) translateZ(52px)
    }
    60% {
        transform: rotateX(90deg) translateZ(63px)
    }
    100% {
        transform: rotateX(90deg) translateZ(63px)
    }
}

@keyframes hard_breathing_left {
    0% {
        transform: rotateY(-90deg) translateZ(53px)
    }
    60% {
        transform: rotateY(-90deg) translateZ(63px)
    }
    100% {
        transform: rotateY(-90deg) translateZ(63px)
    }
}

.paralax_wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden
}

.paralax_wrapper img {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    max-width: 100%
}

.paralax_wrapper .title_container {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 40%;
    z-index: 1
}

.paralax_wrapper .paralax_title {
    display: inline-block;
    margin: 0;
    padding: 15px 25px;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    border: 5px solid #fff
}

body {
    margin: 0;
    padding: 0
}

.mce-container {
    margin: 0 auto !important
}

.custom_select {
    color: #393939
}

.custom_select .select_current {
    padding: 0 20px 0 10px;
    line-height: 25px;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #b1b1b1
}

.custom_select .select_current:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 6px;
    top: 50%;
    margin-top: -1px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.custom_select .select_dropdown {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #b1b1b1;
    border-top: none
}

.custom_select.opened .select_current:after {
    margin-top: -6px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid
}

.custom_select .option {
    cursor: pointer;
    padding-left: 10px;
    line-height: 25px
}

.custom_select .option.selected, .custom_select .option:hover {
    background: #e8e8e8
}