doctype
html(lang="en")
    head
        include ./includes/_head
    body.main_page
        .cs_item_main
            .select_current Default option
            .select_dropdown
                span.option(data-value=1) Option 1
                span.option(data-value=2) Option 2
                span.option(data-value=3) Option 3